{% extends 'base.html' %} 
{% block content %}
<h1>About the Car Collector</h1>
<hr />
<p>
    Cars have revolutionized modern life, transforming how we travel, work, and interact with the world. From their inception in the late 19th century, automobiles have evolved from simple, steam-powered carriages into sophisticated machines with advanced technology. Today, cars are not only a symbol of personal freedom and status but also a testament to engineering excellence and innovation. With features like electric powertrains, autonomous driving capabilities, and integrated digital systems, cars continue to push the boundaries of what’s possible. As the automotive industry shifts towards sustainability and smart technology, the future of cars promises to be as dynamic and transformative as their past.
</p>
{% endblock %}